/* GLOBAL */
body {
    background-color: #0a0a0a;
    color: whitesmoke;
    text-align: center;
}
footer {
    margin-top: 25px;
}
 /* COLOURS */
 :root{
    --dark:#79777a !important;
}

/* Nav */
nav a {
    color: #c83b3d;
}
nav a:hover {
    color:  white;
}

/* Header Image */
.header-image {
    height: 100vh;
    max-height: 250px;
    background-image: url(../components/images/header_image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }

.home {
    padding-top: 25px;
}
 